p {
  margin-bottom: 0;
}
.css-t89xny-MuiDataGrid-columnHeaderTitle {
  font-size: 1rem;
  font-weight: bold !important;
}

.css-6h1dhi-MuiDataGrid-root .MuiDataGrid-cellContent {
  font-size: 1rem;
}

.actions {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
